* {
  margin: 0;
  padding: 0; }

.editorDiv {
  width: 80%;
  margin: 3% auto;
  padding: 0% 2%;
  background: #eeeeee; }
  .editorDiv header {
    border-top: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    padding: 0.5% 1.5%; }
    .editorDiv header button {
      position: relative;
      border: 1px solid;
      border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.3);
      background: -webkit-linear-gradient(to bottom, #ffffff, #e6e6e6);
      background: -moz-linear-gradient(to bottom, #ffffff, #e6e6e6);
      background: -o-linear-gradient(to bottom, #ffffff, #e6e6e6);
      background: linear-gradient(to bottom, #ffffff, #e6e6e6);
      padding: 0.4% 1%;
      -webkit-transition: all .2s;
      -moz-transition: all .2s;
      -ms-transition: all .2s;
      -o-transition: all .2s;
      transition: all .2s;
      outline: none;
      -webkit-appearance: none;
      -webkit-border-radius: 5%/10%;
      -moz-border-radius: 5%/10%;
      border-radius: 5%/10%;
      font-weight: 700;
      font-size: 1em; }
      .editorDiv header button:active {
        background: -webkit-linear-gradient(to bottom, #e6e6e6, #ffffff);
        background: -moz-linear-gradient(to bottom, #e6e6e6, #ffffff);
        background: -o-linear-gradient(to bottom, #e6e6e6, #ffffff);
        background: linear-gradient(to bottom, #e6e6e6, #ffffff); }
      .editorDiv header button .fontSize {
        display: none;
        width: 100%;
        position: absolute;
        left: 0;
        list-style: none;
        background: #ffffff;
        border-left: 1px solid #eeeeee;
        -webkit-box-shadow: 1px 1px 2px #ddd;
        -moz-box-shadow: 1px 1px 2px #ddd;
        box-shadow: 1px 1px 2px #ddd; }
        .editorDiv header button .fontSize.show {
          display: block; }
        .editorDiv header button .fontSize li {
          color: #000000; }
        .editorDiv header button .fontSize li:hover {
          background: #2578b5; }
      .editorDiv header button.on {
        color: #ffffff;
        background: -webkit-linear-gradient(to bottom, #58B2DC, #3A8FB7);
        background: -moz-linear-gradient(to bottom, #58B2DC, #3A8FB7);
        background: -o-linear-gradient(to bottom, #58B2DC, #3A8FB7);
        background: linear-gradient(to bottom, #58B2DC, #3A8FB7); }
  .editorDiv .editorBody {
    border: 1px solid #dedede;
    min-height: 65%;
    background: #ffffff; }
    .editorDiv .editorBody:focus {
      outline: none; }
    .editorDiv .editorBody .imgBox {
      min-width: 10%;
      max-width: 60%;
      position: relative; }
      .editorDiv .editorBody .imgBox img {
        width: 100%; }
      .editorDiv .editorBody .imgBox .imgBoxRB {
        width: 10px;
        height: 10px;
        position: absolute;
        right: 0;
        bottom: 0;
        cursor: nw-resize;
        background: #000; }

.colorBox {
  display: none;
  color: #666;
  border: 1px solid #dddddd;
  padding: 5% 15%;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-border-radius: 3%/6%;
  -moz-border-radius: 3%/6%;
  border-radius: 3%/6%;
  text-align: left; }
  .colorBox input {
    margin: 6% 0;
    outline: none;
    border: 1px solid #dddddd;
    outline: none;
    padding: 1% 0%; }
  .colorBox .configColor {
    width: 20%;
    margin: 0 auto;
    border: 1px solid #dedede;
    display: inline;
    padding: 1% 1%;
    -webkit-border-radius: 5%/10%;
    -moz-border-radius: 5%/10%;
    border-radius: 5%/10%;
    background: -webkit-linear-gradient(to bottom, #e6e6e6, #ffffff);
    background: -moz-linear-gradient(to bottom, #e6e6e6, #ffffff);
    background: -o-linear-gradient(to bottom, #e6e6e6, #ffffff);
    background: linear-gradient(to bottom, #e6e6e6, #ffffff); }
    .colorBox .configColor:active {
      color: #ffffff;
      background: -webkit-linear-gradient(to bottom, #58B2DC, #3A8FB7);
      background: -moz-linear-gradient(to bottom, #58B2DC, #3A8FB7);
      background: -o-linear-gradient(to bottom, #58B2DC, #3A8FB7);
      background: linear-gradient(to bottom, #58B2DC, #3A8FB7); }
  .colorBox.show {
    display: block;
    background: #ffffff;
    position: absolute;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    -webkit-animation: showA .3s;
    -o-animation: showA .3s;
    animation: showA .3s; }
  .colorBox.hide {
    -webkit-animation: hiddenA .3s forwards;
    -o-animation: hiddenA .3s forwards;
    animation: hiddenA .3s forwards; }

@-webkit-keyframes hiddenA {
  0% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); }
  100% {
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0); } }

@keyframes hiddenA {
  0% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); }
  100% {
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0); } }

@-webkit-keyframes showA {
  0% {
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0); }
  100% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); } }

@keyframes showA {
  0% {
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0); }
  100% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); } }
